# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [3]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [4]:
# enter your code here
orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [13]:
# your code here

#Sub Problem 1: How to aggregate the amount_spent for unique customers?
customer_spend_agg = orders.groupby('CustomerID')['amount_spent'].sum().reset_index()

#Sub Problem 2: How to select customers whose aggregated amount_spent is in a given quantile range?
#Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?
customer_spend_agg['Customer_Rank'] = pd.qcut(
    customer_spend_agg['amount_spent'],
    [0, .75, .95, 1],
    labels = ['Standard', 'Preferred', 'VIP']
)

customer_spend_agg

      CustomerID  amount_spent Customer_Rank
0          12346      77183.60           VIP
1          12347       4310.00     Preferred
2          12348       1797.24     Preferred
3          12349       1757.55     Preferred
4          12350        334.40      Standard
5          12352       2506.04     Preferred
6          12353         89.00      Standard
7          12354       1079.40      Standard
8          12355        459.40      Standard
9          12356       2811.43     Preferred
10         12357       6207.67           VIP
11         12358       1168.06      Standard
12         12359       6372.58           VIP
13         12360       2662.06     Preferred
14         12361        189.90      Standard
15         12362       5226.23     Preferred
16         12363        552.00      Standard
17         12364       1313.10      Standard
18         12365        641.38      Standard
19         12367        168.90      Standard
20         12370       3545.69     Preferred
21         12371       1887.96     Preferred
22         12372       1298.04      Standard
23         12373        364.60      Standard
24         12374        742.93      Standard
25         12375        457.50      Standard
26         12377       1628.12      Standard
27         12378       4008.62     Preferred
28         12379        852.24      Standard
29         12380       2724.81     Preferred
...          ...           ...           ...
4309       18242       2232.49     Preferred
4310       18245       2567.06     Preferred
4311       18246        596.10      Standard
4312       18248        804.02      Standard
4313       18249         95.34      Standard
4314       18250        349.27      Standard
4315       18251       4314.72     Preferred
4316       18252        526.67      Standard
4317       18255        103.30      Standard
4318       18257       2337.63     Preferred
4319       18259       2338.60     Preferred
4320       18260       2643.20     Preferred
4321       18261        324.24      Standard
4322       18262        149.48      Standard
4323       18263       1213.16      Standard
4324       18265        801.51      Standard
4325       18268         25.50      Standard
4326       18269        168.60      Standard
4327       18270        283.15      Standard
4328       18272       3078.58     Preferred
4329       18273        204.00      Standard
4330       18274        175.92      Standard
4331       18276        335.86      Standard
4332       18277        110.38      Standard
4333       18278        173.90      Standard
4334       18280        180.60      Standard
4335       18281         80.82      Standard
4336       18282        178.05      Standard
4337       18283       2094.88     Preferred
4338       18287       1837.28     Preferred

[4339 rows x 3 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [11]:
# your code here

#Merge unique customer table to original table
orders_merged = pd.merge(customer_spend_agg[['CustomerID', 'Customer_Rank']], orders[['CustomerID', 'Country']].drop_duplicates(), on = 'CustomerID', how = 'left')

#Get VIP customers Only
orders_VIP = orders_merged[orders_merged['Customer_Rank'] == 'VIP']

#Group by country and return count of VIP customers
orders_VIP.groupby('Country')['CustomerID'].count().sort_values(ascending = False)

Country
United Kingdom     177
Germany             10
France               9
Switzerland          3
Spain                2
Portugal             2
Japan                2
EIRE                 2
Australia            2
Sweden               1
Singapore            1
Norway               1
Netherlands          1
Finland              1
Denmark              1
Cyprus               1
Channel Islands      1
Belgium              1
Name: CustomerID, dtype: int64

Provide your solution for Q3 below:

In [12]:
# your code here

#Get VIP customers + Preferred Customers
orders_VIP_Preferred = orders_merged[(orders_merged['Customer_Rank'] == 'Preferred') | (orders_merged['Customer_Rank'] == 'VIP')]

#Group by country and return count of VIP & Preferred customers
orders_VIP_Preferred.groupby('Country')['CustomerID'].count().sort_values(ascending = False)

Country
United Kingdom     932
Germany             39
France              29
Belgium             12
Spain                9
Switzerland          9
Portugal             7
Norway               7
Italy                5
Finland              5
Channel Islands      4
Cyprus               4
Australia            4
Japan                4
EIRE                 3
Denmark              3
Austria              3
Sweden               2
Israel               2
Iceland              1
Greece               1
Lebanon              1
Malta                1
Netherlands          1
Poland               1
Singapore            1
Canada               1
Name: CustomerID, dtype: int64